<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="static/upload.css">
</head>
<body>
    <div>
        <iframe src="navbar.html" width="100%" height="50" frameborder="0" scrolling="no"></iframe>
		<h1 class="title"> Upload File:</h1>
		<form method="POST" action="/upload-file" enctype="multipart/form-data">
            <div class="input-container">
                <input class="input" type="file" name="file">
            </div>
            <div class="input-container">
                <input class="input" type="text" name="artist" placeholder="Artist Tag">
            </div>
            <div class="input-container">
                <input class="input"  type="text" name="description" placeholder="Description">
            </div>
            <button class="submit" type="submit">Submit</button>
		</form>
	</div>
</body>
</html>